// Global light mode styles
$bg-light-primary: "#fff";
$bg-light-secondary: "";

// Globall dark mode styles
$bg-dark-primary: "";
$bg-dark-secondary: "";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
