// Global light mode styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

$bg-light-primary: "#fff";
$bg-light-secondary: "";

// Globall dark mode styles
$bg-dark-primary: "";
$bg-dark-secondary: "";
