<li
  appHighlightCompletedTodo
  [iscompleted]="todo().isComplete"
  class="todos__item"
  (click)="toggleDiscribtion()"
>
  <div class="checklist">
    <input
      id="todo-{{ todo().id }}"
      type="checkbox"
      [checked]="todo().isComplete"
      (change)="this.todoClicked()"
    />
    <label for="todo-{{ todo().id }}">{{ todo().title }}</label>
  </div>

  <div class="modify-todo">
    <button type="button">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </div>

  @if (showDisc) {
  <p>{{ todo().description }} test fake description</p>
  }
</li>
