.search-content {
  display: flex;
  gap: 5px;

  input,
  button {
    border-radius: 12px;
    padding-inline: 12px;
    padding-block: 8px;
    border: 1px solid gray;
  }

  button {
    background-color: lightblue;
    color: black;
    cursor: pointer;
    &:hover {
      background-color: rgb(146, 181, 192);
    }
  }
}
